<h1>About Me</h1>
<p class="lead"> Rails Newbie, with 30 years experience within IT.</p>

<p class="lead">I have spent the most recent years working on Business Intelligence and really like working with Scrum.</p>

