<h1>Maybe I can be of use</h1>

<hr>

<div class="row">
  <div class="col-md-6">
      <h3>Phone</h3>
      
      <p><%= number_to_phone "070 309 5623" %></p>
            
      <h3>Email</h3>
      
      <p><a href="mailto:rcoswemail@icloud.com?subject=PortfolioContact" "email me">Email me</a></p>
  </div>      
  <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2034.0766162054276!2d18.046820216073048!3d59.34836888166553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9d723ed58c87%3A0x1c052942f818f037!2sHagagatan%2048%2C%20113%2047%20Stockholm!5e0!3m2!1ssv!2sse!4v1588105267174!5m2!1ssv!2sse" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div> 
</div>