 <div class="inner cover">
   <h1 class="cover-heading">My portfolio</h1>
   <p class="lead">A quick introduction to myself and my experience</p>
   <p class="lead">
     <%= link_to "About Me", about_me_path, class: "bth btn-lg btn-secondary" %>
   </p>
 </div>



  


